<div id = 'def_div'>
	<% if @user_list.empty? %>
	<center>
		<br><br><br>
		<h2>No users registered!</h2>
	</center>
	<% else %>
		<center><br><h3>Registered Users</h3><br></center>
		<table width = 100%>
			<tr align = left>
				<th width = 4%>ID</th><th width = 24%>Name</th><th width = 18%>Alias</th><th width = 30%>Email</th><th>Admin</th>
			</tr>
		<% @user_list.each do |user| %>
		<tr>
			<td><%= user.id %></td><td><%= user.full_name || "<i>undefined</i>".html_safe %></td><td><%= user.user_name || "<i>undefined</i>".html_safe %></td><td><%= user.email %></td><td><%= user.admin? ? (link_to "Yes: Deny role", deny_admin_path(:id => user.id)) : (link_to "No: Make Admin", make_admin_path(:id => user.id)) %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
	<center>
	<br><br>
		<%= link_to "Back to Search", root_path %>
	</center>
	
</div>