<div id = 'def_div' class='form-box'>
<%= form_tag("save_review", :method => "post") do%>
  <%= label_tag(:word, "Word:") %><br/>
  <%= text_field :word, :word, :size => 32, :required => true, :placeholder => 'search word, ex: sang for sáng/säng/sang' %><br/>
  <%= label_tag(:thumal, "Thumal:") %><br/>
  <%= text_field :word, :thumal, :size => 32, :required => true, :placeholder => 'mizo word with accents/special characters'%><br/>
  <%= label_tag(:pos, "Part of Speech:") %><br/>
  <%= text_field :word, :pos, :required => true, :size => 32 %><br/>
  <%= label_tag(:meaning, "Meaning:") %><br/>
  <%= text_field :word, :meaning, :required => true, :size => 32 %><br/>
  <%= label_tag(:example, "Example:") %><br/>
  <%= text_area :word, :example, :cols => 32, :rows =>5, :required => true, :placeholder => 'Mizo sentence. <i> English sentence.</i>'%><br/>
  <%= text_field :word, :user, :readonly => true %><br/>
  Approve? <%= select_tag :active, options_for_select([["Approve",1],["Delay",0]]) %><br/>
  <%= hidden_field :word, :id %>
  <%= submit_tag("Save") %> <%= link_to 'Discard Entry', delete_path(:id => @word.id), :class => "buttons" if @word%>
<% end %>

<div id = "notice"><%= notice %></div>
<div id = "alert"><%= alert %></div>
<%= link_to "View Entry", view_path(:id => params[:id]) if params[:id] %></p>
</div>