<div id = 'def_div' class='form-box'>
<%= form_tag("update", :method => "post") do %>
  <%= label_tag(:word, "Word:") %><br/>
  <%= text_field :word, :word, :size => 32, :required => true, :placeholder => 'search word, ex: sang for sáng/säng/sang' %><br/>
  <%= label_tag(:thumal, "Thumal:") %><br/>
  <%= text_field :word, :thumal, :size => 32, :required => true, :placeholder => 'mizo word with accents/special characters'%><br/>
  <%= label_tag(:pos, "Part of Speech:") %><br/>
  <%= text_field :word, :pos, :size => 32, :placeholder => 'not necessary' %><br/>
  <%= label_tag(:meaning, "Meaning:") %><br/>
  <%= text_field :word, :meaning, :required => true, :size => 32 %><br/>
  <%= label_tag(:example, "Example:") %><br/>
  <%= text_area :word, :example, :cols => 32, :rows =>5, :required => true, :placeholder => 'Mizo sentence. <i> English sentence.</i>'%><br/>
  <%= text_field :word, :user, :hidden => true, :value => current_contributor.email %><br/>
  <%= hidden_field :word, :id %>

  <%= submit_tag("Save") %>
<% end %>

<div id = "notice"><%= notice %></div>
<div id = "alert"><%= alert %></div>
<%= link_to "View Entry", view_path(:id => params[:id]) if params[:id] %></p>
</div>