<!DOCTYPE html>
<html>
<head>
  <title>Zódic</title>
  <link rel="stylesheet" href="/stylesheets/scaffold.css">
  <link rel="stylesheet" href="/stylesheets/search.css">
  <script src='/javascripts/application.js'></script>
  <script src='/javascripts/controls.js'></script>
  <script src='/javascripts/dragdrop.js'></script>
  <script src='/javascripts/effects.js'></script>
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/prototype.js'></script>
  <script src='/javascripts/rails.js'></script>
  <%= csrf_meta_tag %>
</head>
<body background = "/images/bg.png">
<div id ='search_div' class='topp'>
	<div class ="footer" id="footer" align=center border=1>
		<% if controller_name == 'chibai' %>
			<span id = "helper" onclick="help()"><a href="#">Quick Help</a> | </span>
		<% end %>
		<% if contributor_signed_in? %>
			<%= link_to "What is Zódic? ", about_path %> |
			<% if session[:user_profile]["admin"] %>
			<%= link_to 'Admin', admin_roles_path %> |
			<%= link_to "Approve(" + Word.where("active = ?",false).count.to_s + ")", approve_path %> |
			<% else %>
			<%= link_to 'Profile', edit_profile_path %> |
			<% end %>
			<%= link_to	"Requests(" + Word.where("thumal = ?","requested").count.to_s + ")", list_requests_path %> |
			<%= link_to 'Contribute', contribute_path %> |
			<%= link_to "Logout", destroy_contributor_session_path %> 
		<% else %> 
			<%= link_to "What is Zódic? ", about_path %> |
			<%= link_to "Login", contributor_session_path %>
		<% end %>
	</div>
</div>
<%= yield %>

</body>
</html>
